<!--
  @File Name          : kgLeadListDetail.html
  @Description        : 
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 16/03/2020 à 09:41:04
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    03/03/2020   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<template>
    <div class="slds-page-header slds-page-header_record-home">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-lead">
                            <lightning-icon icon-name="standard:lead" alternative-text="icon"></lightning-icon>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span>Lead</span>
                                    <span class="slds-page-header__title slds-truncate"
                                        title={lead.Name}>{lead.Name}</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__control">
                        <ul class="slds-button-group-list">
                            <li>
                                <button class="slds-button slds-button_neutral">Edit</button>
                            </li>
                            <li>
                                <button class="slds-button slds-button_neutral">Delete</button>
                            </li>
                            <li>
                                <button class="slds-button slds-button_neutral">Clone</button>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-page-header__row slds-page-header__row_gutters" >
            <div class="slds-page-header__col-details">
                <ul class="slds-page-header__detail-row">
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title slds-truncate" title="client" style="font-size: 18px;"> Client</div>
                        <div class="slds-truncate"
                            title={lead.Name}>{lead.Name}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title slds-truncate" title="client" style="font-size: 18px;"> Adresse</div>
                        <div class="slds-truncate"
                            title={lead.adress_perso__c}>{lead.Address}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title slds-truncate" title="client" style="font-size: 18px;"> Téléphone</div>
                        <div class="slds-truncate"
                            title={lead.Phone}>{lead.Phone}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title slds-truncate" title="client" style="font-size: 18px;"> Email</div>
                        <div class="slds-truncate"
                            title={lead.Email}>{lead.Email}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title slds-truncate" title="client" style="font-size: 18px;"> Entreprise</div>
                        <div class="slds-truncate"
                            title={lead.Company}>{lead.Company}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="slds-theme_default">
        <div class="slds-p-around_medium">
            <lightning-progress-indicator type="path" variant="brand" current-step={selectedStep}>
                <lightning-progress-step label="échange d’emails positif"  onstepfocus={selectStep1} value="Select1">
                </lightning-progress-step>
                <lightning-progress-step label="échange téléphonique positif"  onstepfocus={selectStep2} value="Select2">
                </lightning-progress-step>
                <lightning-progress-step label="Déplacement en agence" onstepfocus={selectStep3} value="Select3">
                </lightning-progress-step>
                <lightning-progress-step label="Visite de sites, maisons ou terrains"  onstepfocus={selectStep4}
                    value="Select4">
                </lightning-progress-step>
                <template if:true={canConvert}>
               
                    <lightning-button variant="brand" class="slds-m-left_x-small" label="Convertir piste"
                        onclick={convertLead}></lightning-button>
               </template>
            </lightning-progress-indicator>
            <!--<lightning-button label="Back" class="slds-m-left_x-small" onclick={handlePrev}></lightning-button>
                <template if:false={isSelectStep4}>
                    <lightning-button variant="brand" class="slds-m-left_x-small" label="Next" onclick={handleNext}></lightning-button>
                </template> -->
        </div>
    </div>
</template>