<template>
<template  if:true={showEmail}>
    
    <div class="slds-box slds-box_x-small slds-theme_default">
        <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-account" title="account">
        
        <span class="slds-assistive-text">email</span>
        </span>
        </div>
        <div class="slds-media__body">
        <h2 class="slds-card__header-title">
        <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Email">
        <span>Email</span>
        </a>
        </h2>
        </div>
        </header>
        </div>
        
        <div class="c-container">
            <lightning-layout horizontal-align="space">
                <lightning-layout-item padding="around-small" class="slds-col slds-size_10-of-12 ">
                    <div class="slds-box slds-box_xx-small slds-align_absolute-center">
                        <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Ecrire un email">Ecrire un email</a>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item padding="around-small" class="slds-col slds-size_2-of-12">
                        <lightning-button variant="brand" label="Nouveau" title="Primary action" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
                        </lightning-layout-item>


                </lightning-layout>
        </div>
       
        <footer class="slds-card__footer"></footer>
    </div>
    </template>
        <template  if:true={showForm}>




<div class="slds-form">
    <div class= "slds-form-element slds-form-element_horizontal">
    
        <label class="slds-form-element__label" for="horizontal-input-id-01">A: </label>
        <div class="slds-form-element__control">
     

    <lightning-input type="text" id="from" name="from" value={email} onchange={fromChange} >{email}</lightning-input>

</div>
</div>

  
      <div class= "slds-form-element slds-form-element_horizontal">
    
        <label class="slds-form-element__label" for="horizontal-input-id-03">Objet:</label>
        <div class="slds-form-element__control">
      <lightning-input type="text" id="objet" name="objet" value={subject} onchange={subjectChange} ></lightning-input>
      </div></div>
      <div class="slds-m-bottom_medium">
        <div class="slds-form-element__control">
      <lightning-input-rich-text name="body" value={body} onchange={bodyChange}></lightning-input-rich-text></div>
    </div>
      <lightning-button variant="brand" label="Envoyer" title="Primary action" onclick={envoyermail} class="slds-m-left_x-small"></lightning-button>
                        
    
  </div>

        </template>
    
</template>