<!--
  @File Name          : kg_detailLeads.html
  @Description        : 
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 04/03/2020 à 15:36:13
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    03/03/2020   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
    
    <template>  
<div class="slds-card">
    <lightning-record-view-form record-id={recordId} object-api-name="Lead">
        <div class="slds-box slds-box_x-small" style="background-color:#f6faf7;">
            <div class="slds-page-header">
                <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                <div class="slds-media">
                <div class="slds-media__figure">
                
                  <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                       <lightning-icon icon-name="standard:lead" alternative-text="Lead" title="Lead"></lightning-icon>
            
                    </div>
                    <div class="slds-media__body">
                      <h1 class="slds-page-header__title slds-m-right_small slds-align-middle slds-truncate" title="My Contacts">
Lead Detail
                      </h1>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </div>
                </div>
              <br></br>
        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-2">
                <lightning-output-field field-name="Name"></lightning-output-field>
                <lightning-output-field field-name="Company"></lightning-output-field>
                <lightning-output-field field-name="Status"></lightning-output-field>

            </div>
            
            <div class="slds-col slds-size_1-of-2">
                <lightning-output-field field-name="Phone"></lightning-output-field>
                <lightning-output-field field-name="Fax"></lightning-output-field>
                <lightning-output-field field-name="Email"></lightning-output-field>
            </div>
           </div>
          
        </div>
    </lightning-record-view-form></div>
    </template>